html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#sidebar{
    
    height: 100%;
    min-height: 100vh;
    min-width: 125px;
}
.text-bar{
    font-size: clamp(1.5rem, 2.1vw, 1.6rem); 
}